<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.aldajo92.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.projects.aldajo92.bakingapp.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.projects.aldajo92.bakingapp.detail.DetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.projects.aldajo92.bakingapp.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.projects.aldajo92.bakingapp.main.MainActivity" />
        </activity>

        <activity android:name="com.projects.aldajo92.bakingapp.detail.StepActivity" />

        <receiver android:name="com.projects.aldajo92.bakingapp.BakingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_provider_info" />
        </receiver>

        <service android:name="com.projects.aldajo92.bakingapp.service.recipe.RecipeWidgetService" />

        <service
            android:name="com.projects.aldajo92.bakingapp.service.recipe.RecipeListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="com.projects.aldajo92.bakingapp.service.ingredient.IngredientListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>